@import (inline) "../../node_modules/react-object-inspector/react-object-inspector.css";

.input-result, .output-result, .output-log {
  margin: 4px 0;
  padding: 4px 8px;
}
.output-log {
  white-space: pre;
}
.output-error {
  color: red;
}
